<footer class="footer-multi-column">
    <div class="wrapper">
        <a class="logo" href="/">
            <img src="./../../assets/logo/logo-growth-cup.webp" alt="logo growth cup yourbiz">
        </a>

        <div class="column">
            <div class="title">
                YourBiz srl
            </div>
            <h3><a href="https://www.yourbiz.it/"><strong>YourBiz srl</strong></a></h3>
            <address><strong>Via Gandhi, 42<br>24048 Treviolo (BG)</strong></address>
            <address><strong>----------------------</strong></address>
            <dl>
                <dt><strong>Tel.&nbsp;</strong><a href="tel:+390354327284" class="tel"><strong>+39 035.4327284</strong></a></dt>
                <dt><strong>E-Mail:&nbsp;</strong><a href="mailto:info@yourbiz.it"><strong>info@yourbiz.it</strong></a></dt>
                <dt><strong>----------------------</strong></dt>
            </dl>
            <address><strong>P.I./C.F. 02943820163<br>N.ro REA: BG - 0335829<br>C.S. € 10.000,00</strong></address>
        </div>




        <div class="column">
            <div class="title">
                <div class="container-item">
                    <div class="left-text">
                        Homepage
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <div class="container-item">
                    <div class="left-text">
                        Pillole di regolamento
                    </div>
                </div>
                <div class="description-items">
                    <a class="single-link" target="_blank" href="https://growthcup.yourbiz.it/it/faq">
                        FAQ
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <div class="container-item">
                    <div class="left-text">
                        Video News
                    </div>
                </div>
                <div class="description-items">
                    <a class="single-link" target="_blank" href="https://growthcup.yourbiz.it/it/video-news/top-del-mese">
                        Top del mese
                    </a>
                    <a class="single-link" target="_blank" href="https://growthcup.yourbiz.it/it/video-news/corner-dell-esperto">
                        Corner dell'esperto
                    </a>
                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <div class="misc-links-container">

                <a target="_blank" class="single-link" href="https://growthcup.yourbiz.it/it/privacy-policy">
                    Privacy policy
                </a>
                <a target="_blank" class="single-link" href="https://growthcup.yourbiz.it/it/cookie-policy">
                    Cookie policy
                </a>

            </div>

            <div class="copyrights">
                Copyright
            </div>

            <!-- <div class="social-links-container">

                <p class="social-text"></p>
                <a target="@socialLink.CtaImageCta.Target" href="" class="">
                    <img src="" alt="" />
                </a>
            </div> -->
        </div>
    </div>
</footer>