<footer class="footer-multi-column">
    <div class="wrapper">
        <a class="logo" href="/">
            <img src="./../../assets/logo/travel-app-logo.png" alt="logo growth cup yourbiz">
        </a>

        <div class="column">
            <div class="title">
                Davide Brignoli
            </div>
            <h3><a href="https://github.com/AtiposEiji">GitHub</a></h3>
            <address>davide.brignoli12@gmail.com</address>
        </div>

        <div class="column">
            <div class="title">
                <div class="container-item">
                    <div class="left-text">
                        Homepage
                    </div>
                </div>
                <div class="description-items">
                    <a class="single-link" target="_blank" href="https://growthcup.yourbiz.it/it/faq">
                        Dashboard
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="copyrights">
                Copyright
            </div>
        </div>
    </div>
</footer>