<header class="header-one-level-component" data-header>
    <a class="logo" href="https://growthcup.yourbiz.it/it">
        <img src="./../../assets//logo//logo-growth-cup.webp" alt="logo-yourbiz-growth-cup" />
    </a>

    <nav class="nav">
        <div class="link">
            <a target="_blank" href="https://growthcup.yourbiz.it/it">TORNA AL SITO WEB</a>
        </div>
        <div class="link">
            <router-link to="/classifiche">Classifiche</router-link>
        </div>
    </nav>

    <div class="menu-toggler-container" data-menu>
        <svg class="hamburger-menu active" data-hamburger width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30 16.6666H0V20H30V16.6666Z"  />
            <path d="M30 8.33336H0V11.6667H30V8.33336Z"  />
            <path d="M30 0H0V3.33336H30V0Z"  />
        </svg>
        
        <svg class="close-icon" data-hamburger-close width="31" height="25" viewBox="0 0 31 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3" y="22" width="30" height="3" transform="rotate(-45 3 22)" fill="white" />
            <rect x="5" y="1" width="30" height="3" transform="rotate(45 5 1)" fill="white" />
        </svg>        
    </div>
</header>
