<div class="submit-form">
    <div class="wrapper">
        <GoBack />
        <form class="form" @submit.prevent="submitLocationForm" data-form>
            <div class="input-container">
                <label class="text" for="name">Aggiungi posto</label>
                <InputText required type="text" v-model="formDataLocation.name" name="name" id="name" placeholder="Inserisci nome cartella" />
            </div>
            <Button type="submit" label="Aggiungi" icon="pi pi-check" iconPos="right" class="cta"/>
        </form>
    </div>
</div>