.cta {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 15px;
    padding: 15px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 120%;
    @include responsiveFontSize(16, 14);
    cursor: pointer;
    margin: 40px auto;

    &.add {
      background: $primary;
      border: 1px solid $primary;

      svg {
        fill: #fff;
        margin-right: 15px;
      }

      &:hover {
        background: #fff;
        color: $primary;

        svg {
          fill: $primary;
        }
      }
    }
  }