.submit-form {
  .wrapper {
    @include responsiveWidth(1240);
    padding: 0 20px;
    margin: 0 auto;

    .form {
      display: grid;
      row-gap: 20px;

      .input-container {
        display: flex;
        align-items: center;

        .text {
          font-family: $primary-font;
          font-style: normal;
          font-weight: 400;
          @include responsiveFontSize(18, 16);
          line-height: 120%;
          color: $black;
          margin-right: 15px;
        }

        input {
          font-family: $primary-font;
          font-style: normal;
          font-weight: 400;
          @include responsiveFontSize(18, 16);
          line-height: 120%;
          color: $black;
          border: 1px solid $primary;
          padding: 10px;
        }
      }

      button {
        width: fit-content;
        background: $primary;
        border: 1px solid $primary;

        &:hover {
            background: #fff;
            color: $primary;
    
            svg {
              fill: $primary;
            }
          }
      }
    }
  }
}
