<div class="folder-list">
    <div class="wrapper">
        <div class="folder-card-box" v-if="currentFolders">
            <router-link class="folder" v-for="folder in currentFolders" :key="folder.id" :data-id="folder.id"
                :to="`/folders/${folder.id}`">
                <Toast />
                <ConfirmDialog></ConfirmDialog>
                <TrashSVG @click.native.prevent="deleteFolder" :data-id="folder.id" />
                <TravelSVG />
                <p class="name">
                    {{ folder.name }}
                </p>
            </router-link>
        </div>
    </div>
</div>