.go-back-button {
    width: fit-content;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    margin-bottom: 25px;

    &:hover {
      color: $primary;

      svg {
        fill: $primary;
      }
    }
  }